<div class="w-full h-full flex mx-auto">
  @if (!showContinueButton){

  <div
    class="sider w-full min-h-screen bg-[#0267FF] relative hidden lg:block lg:w-2/4 xl:w-1/2"
  >
    <img
      src="../assets/child.png"
      class="lg:w-[94.6%] min-h-screen object-cover"
      alt=""
    />
    <img
      src="../assets/bigC.png"
      alt="top_elipse"
      class="absolute top-0 left-0 w-32 h-32"
    />

    <img
      src="../assets/smallC.png"
      alt="middle_elipse"
      class="absolute right-32 top-32 w-16 h-16"
    />

    <img
      src="../assets/greyC.png"
      alt="bottom_elipse"
      class="absolute right-0 bottom-96 w-20 h-20"
    />
  </div>
  }@else {
  <div class="sider w-full h-auto relative hidden lg:block lg:w-1/2">
    <img
      [src]="showContinueImage"
      class="w-full lg:w-[91.6%] min-h-screen object-cover"
      alt="continue_image"
    />
  </div>
  }

  <div class="w-full lg:w-3/4 xl:w-1/2 h-full">
    <div class="header flex justify-between text-center items-center my-12">
      <div class="flex items-center cursor-pointer">
        <img src="../assets/Left.png" class="w-4 h-4 ml-2" alt="back_arrow" />
        <p class="pl-2">Back</p>
      </div>
      <div class="steps">
        <p><span class="font-bold">Step </span>2 of 4</p>
      </div>
      <div class="exit pr-4">
        <p>Exit</p>
      </div>
    </div>

    <div class="content w-full h-full">
      <h2 class="font-semibold text-3xl text-center py-3">Add Photo</h2>
      <p class="text-center">Add a photo so other members know who you are</p>

      <!-- To make this center `grid place-items-center min-h-[60vh]` -->
      <div class="w-full h-full">
        <form
          class="flex flex-col w-full h-full justify-center items-center px-8 pt-6 pb-8 mb-4"
        >
          <input
            type="file"
            style="display: none"
            #fileInput
            (change)="onSelectedFile($event)"
          />
          <div class="form-group cursor-pointer" (click)="fileInput.click()">
            <img
              [src]="imageUrl"
              alt=""
              class="w-[139px] h-[139px] my-8 rounded-full"
            />
          </div>
          <div class="form-group w-full lg:w-1/2">
            @if (!showContinueButton) {

            <button
              class="bg-[#0267FF] hover:bg-blue-600 px-20 py-2.5 text-white font-normal text-xs leading-tight"
              type="submit"
            >
              Upload a Photo
            </button>
            } @else{
            <button
              routerLink="/add-interest"
              class="bg-[#0267FF] hover:bg-blue-600 px-20 py-2.5 text-white font-normal text-xs leading-tight"
              type="submit"
            >
              Continue
            </button>
            }
          </div>
          @if(showContinueButton){
          <a
            href="add-interest"
            class="cursor-pointer text-center py-4 text-xs"
          >
            Skip
          </a>
          }
        </form>
      </div>
    </div>
  </div>
</div>
