<div class="w-full h-full flex mx-auto">
  <div
    class="sider w-full min-h-screen bg-[#0267FF] relative hidden lg:block lg:w-1/2"
  >
    <img src="../assets/child.png" alt="" />
    <img
      src="../assets/bigC.png"
      alt="top_elipse"
      class="absolute top-0 left-0 w-32 h-32"
    />

    <img
      src="../assets/smallC.png"
      alt="middle_elipse"
      class="absolute right-32 top-32 w-16 h-16"
    />

    <img
      src="../assets/greyC.png"
      alt="bottom_elipse"
      class="absolute right-0 bottom-96 w-20 h-20"
    />
  </div>

  <div class="add-photo-section w-full lg:w-1/2 h-full">
    <div class="header flex justify-around text-center items-center my-12">
      <div class="back flex items-center">
        <img src="../assets/Left.png" alt="back_arrow" />
        <p>Back</p>
      </div>
      <div class="steps">
        <p><span class="font-bold">Step </span>2 of 4</p>
      </div>
      <div class="exit">
        <p>Exit</p>
      </div>
    </div>

    <div class="content w-full h-full">
      <h2 class="font-semibold text-3xl text-center">Add Photo</h2>
      <p class="text-center">Add a photo so other members know who you are</p>

      <div class="w-full h-full">
        <form
          class="flex flex-col w-full h-full justify-center items-center sm:px-8 sm:pt-6 pb-8 mb-4"
        >
          <input
            type="file"
            style="display: none"
            #fileInput
            (change)="onSelectedFile($event)"
          />
          <div class="form-group cursor-pointer" (click)="fileInput.click()">
            <img [src]="imageUrl" alt="" class="w-[139px] h-[139px]" />
          </div>
          <div class="form-group w-full lg:w-1/2">
            <div
              ngIf="!showContinueButton"
              class="bg-[#0267FF] hover:bg-blue-600 px-20 py-2.5 text-white font-normal text-xs leading-tight"
              type="submit"
            >
              Upload a Photo
            </div>

            <div></div>

            <div
              ngIf="fileInput.files.length > 0"
              class="bg-[#0267FF] hover:bg-blue-600 px-20 py-2.5 text-white font-normal text-xs leading-tight"
              type="submit"
            >
              Continue
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
